<link rel="stylesheet" href="/css/form_page.css">
<form action="/student/create-student" method="post">
    <input type="text" name="email" placeholder="Enter the student email" required>
    <input type="text" name="name" placeholder="Enter the student name" required>
    <input type="text" name="college" placeholder="College name" required>
    <input type="text" name="batch" placeholder="Batch name" required>
    <span class="text">Date of Birth:</span><input type="date" name="dob" required>
    </div>
    <button type="submit">Add Student</button> 
</form>