<form action="/student/create-student" method="post">
    <input type="text" name="email" placeholder="Enter the student email" required>
    <input type="text" name="name" placeholder="Enter the student name" required>
    <input type="text" name="college" placeholder="College name" required>
    <input type="text" name="batch" placeholder="Batch name" required>
    <input type="date" name="dob" placeholder="Date of birth" required>
    </div>
    <input type="submit" value="Add Student" >
</form>