<form action="/student/create-student" method="post">
    <input type="text" name="email" placeholder="Enter your email" required>
    <input type="text" name="college" placeholder="College name" required>
    <input type="text" name="batch" placeholder="Batch name" required>
    <input type="text" name="status" placeholder="Placement status" required>
    </div>
    <input type="submit" value="Add Student" >
</form>