<form action="/student/create-student" method="post">
    <input type="text" name="email" placeholder="Enter your email" required>
    <input type="text" name="college" placeholder="College name" required>
    <input type="text" name="batch" placeholder="Batch name" required>
    Placement status<select name="status" id="status">
        <option value="Placed">Placed</option>
        <option value="Not Placed">Not placed</option>
    </select>
    </div>
    <input type="submit" value="Add Student" >
</form>