<form action="/course/create-course/<%=student.id%>" method="post">
    <input type="text" name="name" placeholder="Enter course name" required>
    <input type="date" name="date" placeholder="Start date of course" required>
    <input type="number" name="score" placeholder="Score obtained" required>
    <input type="submit" value="Add Course" >
</form>