<h1>Students</h1>
<a href="/student/add-student">Add student details</a>
<div></div>
<% for(student of students){%>
    <a href="/student/profile/<%=student._id%>"><%= student.email%></a>
    <% for(course of student.courses){%>
        <%= course.name%>
        <%}%> 
    <%}%>