<form action="/interviewer/create" method="post">
    <input type="text" name="company" placeholder="Company name" required>
    <input type="textarea" name="other" placeholder="Description">
    <input type="submit" value="Update">
</form>