<form action="/interviewer/create" method="post">
    <input type="text" name="company" placeholder="Company name" value="<%=interviewer.company%>" required>
    <input type="textarea" name="other" value="<%= interviewer.other%>" placeholder="Designation">
    <input type="submit" value="Update">
</form>