form{
    position: relative;
    background-color: cornsilk;
    width:40%;
    left:30%;
    margin-top:5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 1rem;
    text-align: center;
}

input{
    display: block;
    position: relative;
    left:30%;
    font-size: 1.3rem;
    margin-bottom: 5%;
    border: none;
    text-align: center;
    border-bottom: 2px solid blueviolet;
    background-color: transparent;
}
button{
    border:none;
    background-color: blueviolet;
    color:white;
    padding:2%;
    border-radius: 1rem;
}
.text{
    font-size: 1.3rem;
    color:blueviolet;
}