.bar{
    display: flex;
    justify-content: space-evenly;
}
.bar div{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: cornsilk;
    border-radius: 1rem;
    padding:1%;
    border:2px solid blueviolet;
}
.bar div a{
    color:blueviolet;
    text-decoration: none;
    font-weight: bold;
}
.tabs{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-weight: bold;
    color:grey;
}
.student{
    color:black;
    border-bottom: 2px solid blueviolet;
}
.tabs div{
    cursor: pointer;
}
table{
    width:90%;
    margin-left: 5%;
    background-color: rgb(231, 227, 227);
    border-radius: 1rem;
    padding-top: 1.5%;
    padding-bottom: 3%;
    font-size: 1.2rem;
}
th{
    font-size: 1.2rem;
    border-bottom: 1px solid grey;
    padding: 1.5%;
}
td{
    text-align: center;
    height: 40px;
    vertical-align: center;
    border-bottom: 1px solid grey;
    padding: 1.5%;
}
td a{
    text-decoration: none;
    color:blueviolet;
}
.color{
    display: block;
    border-radius: 2rem;
    padding: 2%;
    width: 8rem;
    margin-left:30%;
    color:white;
    font-size: 1.1rem;
}
#container1{
    position: relative;
    margin-left: 30%;
    width:8rem;
    background-color:white;
    border-radius: 2rem;
    color: cornsilk;
    text-align: center;
    box-shadow:  inset 2px 1px 1px 2px grey;
}
.dsa{
    position: relative;
    background-color: brown;
    border-radius: 2rem 0rem 0rem 2rem;
}
.web{
    position: relative;
    background-color: darkgreen;
    border-radius: 2rem 0rem 0rem 2rem;
}
.react{
    position: relative;
    border-radius: 2rem 0rem 0rem 2rem;
    background-color: darkslateblue;
}