body {
  background-color: cornsilk;
}

.sign-in {
  position: relative;
  font-weight: bold;
  left: 25%;
  height: auto;
  width: 45rem;
  border-radius: 1rem;
  border: 1px solid;
  border-color: black;
  margin-top: 2.5rem;
  padding-top: 2rem;
  background-image: linear-gradient(#8c76fc, #c38dfd, #e797fd);
  box-shadow: 2px 5px 5px 2px gray;
}

.sign-in .home a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  position: relative;
  left: 85%;
}

.sign-in .or {
  size: 2rem;
  position: relative;
  margin-bottom: 1rem;
  left: 45%;
  color: black;
  font-weight: bolder;
}

.sign-in .forget-password {
  position: relative;
  left: 40%;
  height: 2.5rem;
  width: 55%;
}

.sign-in .google-sign-in {
  position: relative;
  left: 20%;
  height: 2.5rem;
  width: 55%;
  margin-bottom: 2rem;
  background-color: blueviolet;
  border-radius: 10rem;
  text-align: center;
  padding-top: 1rem;
  box-shadow: 1px 2px 2px 1px gray;
}

.sign-in .google-sign-in a {
  color: black;
  text-decoration: none;
}

.sign-in .sign-in-form {
  position: relative;
  left: 10%;
}

.sign-in .sign-in-form input {
  font-weight: bold;
  display: block;
  margin-bottom: 2rem;
  position: relative;
  left: 10%;
  height: 3.5rem;
  width: 55%;
  background-color: cornsilk;
}

.sign-in .sign-in-form input[type=submit] {
  font-size: medium;
  width: 30%;
  left: 23%;
  background-color: cornsilk;
  border-radius: 5rem;
}

.sign-up {
  position: relative;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
select{
  border:1px solid blueviolet;
  font-size: 1.2rem;
  background-color: #fff8dc;
  padding: 2px;
  margin-bottom: 2%;
}
.text{
  font-size: 1.5rem;
  color:brown;
}